{% extends 'coach_base.html.twig' %}

{% block title %}Ingredients index{% endblock %}

{% block body %}
    <h1>Ingredients </h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Name</th>
                <th>Calories</th>
                <th>TotalFat</th>
                <th>Protein</th>
                <th>Imgurl</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
               
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.calories }}</td>
                <td>{{ ingredient.totalFat }}</td>
                <td>{{ ingredient.protein }}</td>
                <td>{% if ingredient.imgurl %}
                            <img src="{{ asset('uploads/image/' ~ ingredient.imgurl) }}" style="max-width: 100px; max-height: 100px;">
                        {% else %}
                            Pas d'image
                        {% endif %}</td>
                <td>
                    <a href="{{ path('app_ingredients_show', {'id': ingredient.id}) }}"class="btn btn-danger">show</a>
                    <a href="{{ path('app_ingredients_edit', {'id': ingredient.id}) }}"class="btn btn-danger">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ingredients_new') }}"class="btn btn-danger">Create new ingredient</a>
{% endblock %}
