{# templates/produit/modifier.html.twig #}

{% extends 'admin_base.html.twig' %}
{% block title %}Modifier un Produit{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        /* Ajoutez ici vos styles spécifiques pour la page de modification si nécessaire */
    </style>
{% endblock %}

{% block body %}
    <div class="center-content">
        <div class="container">
            <div class="row justify-content-center mt-4 title-spacing">
                <div class="col-md-12 text-center">
                    <h1>Modifier un Produit</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                 <div class="col-md-6">
                    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
                    <div class="mb-3 row align-items-center">
                    <div class="col-md-3">
                        {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'form-label white-text'}}) }}
                    </div>
                     <div class="col-md-9">
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control white-background white-text custom-input'}}) }}
                        {% if form_errors(form.nom) %}
                            <span class="text-danger">{{ form_errors(form.nom) }}</span>
                        {% endif %}
                    </div>
                    </div>
                    <div class="mb-3 row align-items-center">
                        <div class="col-md-3">
                            {{ form_label(form.quantite, 'Quantité', {'label_attr': {'class': 'form-label white-text'}}) }}
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.quantite, {'attr': {'class': 'form-control white-background white-text custom-input'}}) }}
                             {% if form_errors(form.quantite) %}
                                <span class="text-danger">{{ form_errors(form.quantite) }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-3 row align-items-center">
                        <div class="col-md-3">
                            {{ form_label(form.cout, 'Coût', {'label_attr': {'class': 'form-label white-text'}}) }}
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.cout, {'attr': {'class': 'form-control white-background white-text custom-input'}}) }}
                             {% if form_errors(form.cout) %}
                                <span class="text-danger">{{ form_errors(form.cout) }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-3 row align-items-center">
                        <div class="col-md-3">
                            {{ form_label(form.dateExpiration, 'Date d\'expiration', {'label_attr': {'class': 'form-label white-text'}}) }}
                        </div>
                       <div class="col-md-9">
                            {{ form_widget(form.dateExpiration, {'attr': {'class': 'form-control white-background white-text custom-input'}}) }}
                             {% if form_errors(form.dateExpiration) %}
                                <span class="text-danger">{{ form_errors(form.dateExpiration) }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-3 row align-items-center">
                        <div class="col-md-3">
                            {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label white-text'}}) }}
                        </div>
                          <div class="col-md-9">
                            {{ form_widget(form.description, {'attr': {'class': 'form-control white-background white-text custom-input'}}) }}
                             {% if form_errors(form.description) %}
                                <span class="text-danger">{{ form_errors(form.description) }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-3 row align-items-center">
                        <div class="col-md-3">
                            {{ form_label(form.image, 'Image', {'label_attr': {'class': 'form-label white-text'}}) }}
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.image, {'attr': {'class': 'form-control white-background white-text custom-input'}}) }}
                        </div>
                    </div>
                    <div class="mb-3 row align-items-center">
                        <div class="col-md-3">
                            {{ form_label(form.idFournisseur, 'ID Fournisseur', {'label_attr': {'class': 'form-label white-text'}}) }}
                        </div>
                        <div class="col-md-9">
                            {{ form_widget(form.idFournisseur, {'attr': {'class': 'form-control white-background white-text custom-input'}}) }}
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary">Modifier</button>
                        <a href="{{ path('produits_liste') }}" class="btn btn-danger">Annuler</a>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-md-4 text-center image-container">
                    <img src="{{ asset('adminSalle/img/fournisseur.jpg') }}" alt="Description de l'image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
