<h1 style="text-align: center;">Materials List</h1>
<table style="width: 100%; border-collapse: collapse; border: 2px solid black;">
    <thead>
        <tr>
            <th style="border: 1px solid black; padding: 8px; text-align: left;">Image</th>
            <th style="border: 1px solid black; padding: 8px; text-align: left;">Name</th>
            <th style="border: 1px solid black; padding: 8px; text-align: left;">Quantity</th>
            <th style="border: 1px solid black; padding: 8px; text-align: left;">Price</th>
        </tr>
    </thead>
    <tbody>
    {% for material in materials %}
        <tr>
            <td style="border: 1px solid black; text-align: center;"><img src="{{ host ~ asset('uploads/images/' ~ material.image) }}" alt="{{ material.nom }}" width="100"></td>
            <td style="border: 1px solid black; padding: 8px;">{{ material.nom }}</td>
            <td style="border: 1px solid black; padding: 8px;">{{ material.quantite }}</td>
            <td style="border: 1px solid black; padding: 8px;">{{ material.prix }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
