{% extends 'coach_base.html.twig' %}

{% block title %}Meal index{% endblock %}
{% block body %}

 <div class="col-12">
        <div class="bg-secondary rounded h-100 p-4">
    <h4 class="mb-7">Meals </h4>
    <a href="{{ path('app_meal_new') }}"class="btn btn-primary">Create new meal</a>

    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
            
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">Recipe</th>
                <th scope="col">Calories</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody id="myTable">
        {% for meal in meals %}
            <tr>
               
                <td>{{ meal.name }}</td>
                <td> {% if meal.imageUrl %}
                            <img src="{{ asset('uploads/image/' ~ meal.imageUrl) }}" style="max-width: 100px; max-height: 100px;">
                        {% else %}
                            Pas d'image
                        {% endif %}</td>
                <td>{{ meal.recipe }}</td>
                <td>{{ meal.calories }}</td>
                <td>
                
                    <a href="{{ path('app_meal_edit', {'id': meal.id}) }}"class="btn btn-primary">edit</a>
                    <a href="{{ path('app_meal_show', {'id': meal.id}) }}"class="btn btn-primary">show</a><br><br>
                
                  
                    <a href="{{ path('app_meal_show_ingredient_ingredient', {'id': meal.id}) }}"class="btn btn-warning m-2"">add ingredient</a>
                 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

<div class="container py-5">
  <div class="d-flex justify-content-center">
{{ knp_pagination_render(meals) }}

</div>
</div>
</div>
</div>

    
{% endblock %}
