<html>
<head></head>
<body>
<div class="row">
    
    <div class="col-12 mt-4">
      <div class="card">
        <div class="card-header pb-0 px-3">
          <h6 class="mb-0">Meal</h6>
        </div>
        <div class="card-body pt-4 p-3">
          <ul class="list-group">
            
            <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                <div class="d-flex flex-column">
               <img src="data:image/jpeg;base64,{{ base64Image }}" alt="Meal Image" class="img-fluid" width="150" height="150">

                <h6 class="mb-3 text-sm">{{meal.name }}</h6>
                <span class="mb-2 text-xs">Meal calories: <span class="text-dark font-weight-bold ms-sm-2">{{meal.calories}}</span></span>
                <span class="mb-2 text-xs">Recipe: <span class="text-dark ms-sm-2 font-weight-bold">{{meal.recipe}}</span></span>
                
              </div>
              <div class="ms-auto text-end">
                
              </div>
            </li>
           
          </ul>
        </div>
      </div>
    </div>
   
  </div>
  <div class="row">
    {% for ingredientBase64Image in ingredientBase64Images %}
        <div class="col-lg-12 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <div class="row m-b-30">
                        <div class="col-md-5 col-xxl-12">
                            <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                                <div class="new-arrivals-img-contnent">
                                    <!-- Use base64-encoded image data -->
                                    <img class="img-fluid" src="data:image/jpeg;base64,{{ ingredientBase64Image.base64Image }}" alt=""  width="150" height="150">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-xxl-12">
                            <div class="new-arrival-content position-relative">
                                <h4><a>{{ ingredientBase64Image.ingredient.ingredient.name }}</a></h4>
                                <div class="comment-review star-rating">
                                    <p class="price">calories: {{ ingredientBase64Image.ingredient.ingredient.calories }}</p><br>
                                    <p class="price">totalFat: {{ ingredientBase64Image.ingredient.ingredient.totalFat }}</p><br>
                                    <p class="price">protein: {{ ingredientBase64Image.ingredient.ingredient.protein }}</p><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
        </body>
        </html>