{% extends 'admin_base.html.twig' %}

{% block body %}
<div class="container-fluid pt-4 px-4">
   <div class="row bg-secondary rounded align-items-center justify-content-center mx-0">
      <div class="col-12">
        <div class="bg-secondary rounded h-100 p-4">

            <h6 class="mb-4">GYMS Table</h6>
            <a href="{{ path('app_salle_add') }}"> <button type="button" class="btn btn-success m-2">ADD</button></a>
            <a href="{{ path('app_salle_stats') }}"> <button type="button" class="btn btn-info m-2">Statistics</button></a>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">image</th>
                            <th scope="col">Nom</th>
                            <th scope="col">description</th>
                            <th scope="col">lieu</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in list %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>
                                {% if a.image is not null %}
                                <img src="{{ asset('uploads/images/' ~ a.image) }}" alt="Salle Image" style="max-width:300px; max-height:200px;min-width:300px;min-height:200px;">
                                {% else %}
                                <!-- Handle case where no image is available -->
                                <span>No image available</span>
                                {% endif %}
                            </td>
                        <td>{{a.nom}}</td>
                        <td>{{a.description}}</td>
                        <td>{{a.lieu}}</td>
                        <td>
                        <a href="{{ path('app_salle_modify', {'id': a.id}) }}"><button type="button" class="btn btn-warning m-2">Modify</button></a>
                        <a href="{{ path('app_salle_delete', {'id': a.id}) }}"><button type="button" class="btn btn-danger m-2">Delete</button></a>
                        <a href="{{ path('app_salle_abonnement', {'id': a.id}) }}"><button type="button" class="btn btn-info m-2">Abonnements</button></a>
                        <a href="{{ path('app_salle_materiel', {'id': a.id}) }}"><button type="button" class="btn btn-info m-2">Materiels</button></a>
                        <a href="{{ path('export_materiel_pdf', {'gymId': a.id}) }}"><button type="button" class="btn btn-info m-2">PDF</button></a>
                        </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
