<div style="display: flex; justify-content: space-between; align-items: center;">

    <img src="{{ asset('clientSalle/img/logo.png') }}" style="width: 140px; height: 100px;" alt="Description de votre image">
   <h1>Liste des produits</h1>
</div>
 <br>
 <br>
 <table  border="1">
        <thead >
            <tr>
              <th style="color: red;">ID</th>
                 <th style="color: red;">Nom</th>
                 <th style="color: red;" >Image</th>
                    <th style="color: red;" >Quantité</th>
                    <th style="color: red;" >Coût</th>
                    <th style="color: red;" >Date d'expiration</th>
                    <th style="color: red;" >Description</th>
                    <th style="color: red;" >Fournisseur</th>
                   
                
         </tr>  
        </thead>
            <tbody>
                        {% for produit in produit %}
            <tr>
                <td >{{ produit.idProduit }}</td>
                <td >{{ produit.nom }}</td>
                <td>  <img src="{{ asset('adminSalle/img/' ~ produit.image) }}" alt="Image du produit" style="max-width: 100px; max-height: 100px;"></td>
               <td>{{ produit.quantite }}</td>
                        <td>{{ produit.cout }}</td>
                        <td>{{ produit.dateExpiration ? produit.dateExpiration|date('Y-m-d') : 'N/A' }}</td>
                        <td>{{ produit.description }}</td>
                            <td>{{ produit.idFournisseur }}</td>
             </tr>
                        {% endfor %}
                    </tbody>
                </table>