{% extends 'admin_base.html.twig' %}

{% block title %}Liste des Fournisseurs{% endblock %}

{% block body %}
    <h1>Liste des Fournisseurs</h1>
    <a href="{{ path('app_fournisseur_add') }}" class="btn btn-primary">Ajouter Fournisseur</a>

    {# Barre de recherche #}
    <form action="{{ path('search_fournisseur') }}" method="GET" class="mt-3 mb-3">
        <div class="input-group">
            <input type="text" name="search_term" class="form-control" placeholder="Rechercher...">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </div>
    </form>

    {% if fournisseurs is empty %}
        <p>Aucun fournisseur trouvé.</p>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Numéro</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for fournisseur in fournisseurs %}
                    <tr>
                        <td>{{ fournisseur.nom }}</td>
                        <td>{{ fournisseur.prenom }}</td>
                        <td>{{ fournisseur.numero }}</td>
                        <td>{{ fournisseur.type }}</td>
                        <td>
                            <a href="{{ path('edit_fournisseur', {'id': fournisseur.idFournisseur}) }}" class="btn btn-primary">Modifier</a>
                            <a href="{{ path('delete_fournisseur', {'id': fournisseur.idFournisseur}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?')">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
