{% extends 'admin_base.html.twig'%}

{% block title %}List Users{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    <input id="searchInput">

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Motdepasse</th>
            <th>Specialite</th>
            <th>Numero</th>
            <th>Recommandation</th>
            <th>Poids</th>
            <th>Taille</th>
            <th>Niveau</th>
            <th>Role</th>
            <th>Mailcode</th>
            <th>IsVerified</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <div  data-search="{{ user.nom }} {{ user.email }} {{ user.specialite }} {{ user.numero }} {{ user.recommandation }} {{ user.poids }} ">

            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.motdepasse }}</td>
                <td>{{ user.specialite }}</td>
                <td>{{ user.numero }}</td>
                <td>{{ user.recommandation }}</td>
                <td>{{ user.poids }}</td>
                <td>{{ user.taille }}</td>
                <td>{{ user.niveau }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.mailcode }}</td>
                <td>{{ user.isVerified ? 'True' : 'False' }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="14">no records found</td>
                </tr>
            {% endfor %}
        </div>
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
    <script>
        function filterTable() {
            const filter = document.getElementById('searchInput').value.toUpperCase();
            const rows = document.querySelectorAll('tbody tr');

            rows.forEach(row => {
                const content = row.textContent.toUpperCase();
                const isVisible = content.includes(filter);
                row.classList.toggle('d-none', !isVisible);
            });


        }

        document.getElementById('searchInput').addEventListener('keyup', filterTable);
    </script>

{% endblock %}