<!DOCTYPE html>

<title>User</title>

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Motdepasse</th>
                <td>{{ user.motdepasse }}</td>
            </tr>
            <tr>
                <th>Specialite</th>
                <td>{{ user.specialite }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ user.numero }}</td>
            </tr>
            <tr>
                <th>Recommandation</th>
                <td>{{ user.recommandation }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ user.poids }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ user.taille }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ user.niveau }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.role }}</td>
            </tr>
            <tr>
                <th>Mailcode</th>
                <td>{{ user.mailcode }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
