{% extends 'client_base.html.twig' %}

{% block title %}
<title>client Regimes</title>
{% endblock %}

{% block body %}
    <h1>These are your Regimes</h1>

    <table class="table">
        <thead>
            <tr>
               
                <th>Startdate</th>
                <th>Enddate</th>
                <th>Duration</th>
                <th>Description</th>
                <th>Goal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for regime in regimes %}
        {% if regime.getVerified() == true %}
            <tr>
              
                <td>{{ regime.startdate|date("m/d/Y")  }}</td>
                <td>{{ regime.enddate|date("m/d/Y")  }}</td>
                <td>{{ regime.duration }}</td>
                <td>{{ regime.description }}</td>
                <td>{{ regime.goal }}</td>
                <td>
                    <a href="{{ path('app_regime_show', {'id': regime.id}) }}">show</a>
                    <a href="{{ path('app_regime_edit', {'id': regime.id}) }}">edit</a>
                </td>
            </tr>
        
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_regime_new') }}">Create new</a>
{% endblock %}
